## Data Frame

In [56]:
import pandas as pd

df = pd.read_csv('./data/WeatherAUS.csv')
df = df.drop_duplicates()

col_to_remove = ["sex", "Pstatus","reason","Dalc","Walc","G3"]

df = df.drop(columns=col_to_remove)

appropriate_col_name = {
    "Medu" :"Mother Education",
    "Fedu" : "Father Education",
    "Fjob": "Father Job",
    "Mjob" : "Mother Job",
    "famsize" : "Family Size",
    
}

df.rename(columns=appropriate_col_name, inplace=True)

df.head()

,school,age,address,Family Size,Mother Education,Father Education,Mother Job,Father Job,guardian,traveltime,...,higher,internet,romantic,famrel,freetime,goout,health,absences,G1,G2
0,GP,18,U,GT3,4,4,at_home,teacher,mother,2,...,yes,no,no,4,3,4,3,6,5,6
1,GP,17,U,GT3,1,1,at_home,other,father,1,...,yes,yes,no,5,3,3,3,4,5,5
2,GP,15,U,LE3,1,1,at_home,other,mother,1,...,yes,yes,no,4,3,2,3,10,7,8
3,GP,15,U,GT3,4,2,health,services,mother,1,...,yes,yes,yes,3,2,2,5,2,15,14
4,GP,16,U,GT3,3,3,other,other,father,1,...,yes,no,no,4,3,2,5,4,6,10